USE [master]
GO
/****** Object:  Database [AssignmentPRJ321]    Script Date: 6/11/2019 9:04:55 PM ******/
CREATE DATABASE [AssignmentPRJ321]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AssignmentPRJ321', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\AssignmentPRJ321.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AssignmentPRJ321_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\AssignmentPRJ321_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AssignmentPRJ321].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AssignmentPRJ321]
GO
/****** Object:  Table [dbo].[tbl_Food]    Script Date: 6/11/2019 9:04:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Food](
	[FoodID] [varchar](15) NOT NULL,
	[FoodName] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_tbl_Food] PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_Food] ([FoodID], [FoodName], [Price], [Description], [Type], [Status]) VALUES (N'1', N'Noodles', 2.5, N'for breakfast', N'main', N'Available')
INSERT [dbo].[tbl_Food] ([FoodID], [FoodName], [Price], [Description], [Type], [Status]) VALUES (N'2', N'Bread', 0.5, N'for breakfast', N'main', N'Unavailable')
INSERT [dbo].[tbl_Food] ([FoodID], [FoodName], [Price], [Description], [Type], [Status]) VALUES (N'3', N'Soup', 1, N'lunch', N'main', N'Available')
USE [master]
GO
